.formWrapper {
  margin: 0 15px;
  padding: 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-radius: 5%;
}
.buttonWrapper {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
