.tableWrapper {
  width: 80vw;
  color: white;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.searchBarSection {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  position: relative;
}

.tableSection {
  overflow: auto;
  background-color: #242e38;
}
.table {
  width: 100%;
  display: table;
  position: relative;
}
.controllSection {
  padding-top: 20px;
  width: 100%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-self: center;
}
